.button {
  margin: 0;
  color: var(--text-color);
  padding: 0.3em 0.5em;
  font-size: 1.5em;
  border-radius: 0.3em;
  border: var(--widget-border);
  background-color: var(--widget-background);
  position: relative;
  text-shadow: var(--widget-text-shadow);
}

.button:active {
  background-color: var(--widget-active-background);
  top: 1px;
}
