.button {
  margin: 0;
  color: #5d5d5d;
  padding: 0.3em 0.5em;
  font-size: 1.5em;
  border-radius: 0.3em;
  border: 1px #7f7f7f solid;
  background-color: #cccccc;
  position: relative;
  text-shadow: 0 1px 0px #ffffff97;
}

.button:active {
  color: #484848;
  background-color: #dedede;
  top: 1px;
}
