.keypad {
  --spacing: 12px;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  row-gap: var(--spacing);
  column-gap: var(--spacing);
}

.keypad button {
  margin: 0;
}

.keypad button.keypad-back {
  background-color: #f8e8acff;
}
.keypad button.keypad-enter {
  background-color: #b4f8acff;
}
