.badge {
  width: 150px;
  height: 150px;
  display: inline-block;
  box-sizing: border-box;
  border: 4px var(--neutral-gray) solid;
  border-radius: 50%;
  text-align: center;
  line-height: 140px;
  font-size: 70px;
  color: var(--text-color);
}

.badge-correct {
  background-color: var(--green);
}
.badge-correct::after {
  content: "\2713";
}
.badge-incorrect {
  background-color: var(--red);
}
.badge-incorrect::after {
  content: "\261D";
}
