.page {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.page .gauge {
  height: 15px;
  margin: 0 0 15px 0;
}

.page .nav-button-back {
  display: block;
  margin: 15px;
  height: 4rem;
  width: 4em;
  box-sizing: border-box;
}

.page.problempage .keypad {
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
  height: 18rem;
}

.page .problem {
  position: absolute;
  top: 2.7em;
  left: 15px;
  right: 15px;
}

.page .nav-button-start,
.page .nav-button-next {
  position: absolute;
  bottom: 15px;
  left: 15px;
  width: calc(100% - 31px);
  height: 2.5em;
}
.page .nav-button-start:active,
.page .nav-button-next:active {
  top: auto;
  bottom: 14px;
}

.page .badge-incorrect,
.page .badge-correct {
  position: absolute;
  top: 3.6em;
  left: calc(50% - 79px);
}

.page.startpage .score {
  position: absolute;
  left: 15px;
  top: 2em;
}

.page.startpage .max-setter {
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 12rem;
  font-size: 1.4rem;
}

.page.startpage .practice-mode-toggle {
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: 7.5rem;
  left: 15px;
  right: 15px;
  font-size: 1.4rem;
  line-height: 1;
  vertical-align: middle;
}
.page.startpage .practice-mode-toggle .material-icons {
  position: relative;
  top: 0.55rem;
  margin-right: 0.6rem;
}
.page.startpage .practice-mode-toggle label {
  cursor: pointer;
}
