.page-top .gauge {
  flex: 1 1 0;
  max-height: 0.8rem;
}

.page-main .badge {
  margin-top: 5rem;
  margin-right: auto;
  margin-left: auto;
}

.page-bottom .nextbutton,
.page-bottom .startbutton {
  height: 3.75rem;
  width: 100%;
}

.page-bottom .keypad {
  height: 15rem;
}

.page-main .problem {
  margin-left: 2rem;
}

.page-main .badgeContainer {
  transform: scale(1, 1);
  opacity: 1;
  transition: all ease-in 0.4s;
}

.page-main .badgeContainer.badgePopping {
  opacity: 0;
  transform: scale(2, 2);
}

.page-top .info-modal {
  position: absolute;
  right: 0.3rem;
}

.page-main .score,
.page-main .title {
  text-align: center;
  margin-bottom: 3rem;
}

.page {
  margin: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.page-top {
  height: 2rem;
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  width: 100%;
}

.page-main {
  margin-top: 5rem;
}
.page-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000055;
  z-index: 100;
}

.modal > aside {
  position: absolute;
  top: 25px;
  left: 25px;
  right: 25px;
  bottom: 25px;
  border-radius: 10px;
  background-color: #ffffff;
  z-index: 101;
  padding: 0.3rem;
}

.modal > aside > header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.4rem;
  height: 2rem;
}

.modal > aside > header > .clickable-icon {
  float: right;
}

.modal > aside > main {
  position: absolute;
  top: 2.8rem;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.5rem;
  padding-top: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.modalOverlayReady,
.modalOverlayHiding {
  opacity: 0;
  transition: opacity 0.5s;
}
.modalOverlayAppearing {
  opacity: 1;
  transition: opacity 0.5s;
}
.modalWindowReady,
.modalWindowHiding {
  transform: translateY(-100%);
  transition: transform 0.4s;
}
.modalWindowAppearing {
  transform: translateY(0%);
  transition: transform 0.4s;
}

.table-picker-container {
  padding: 0;
  border-radius: 6px;
  overflow: hidden;
  height: 45px;
  user-select: none;
  -webkit-user-select: none;
}

.table-picker-row {
  display: flex;
  user-select: none;
  -webkit-user-select: none;
}
.table-picker-block {
  --color-saturation: 80%;
  --color-lightness: 65%;
  user-select: none;
  -webkit-user-select: none;
  flex: 1 1 100px;
  display: block;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  color: var(--text-color);
  height: 45px;
  line-height: 45px;
  margin: 0;
}
