.max-setter-container {
  padding: 0;
  border-radius: 6px;
  overflow: hidden;
  height: 45px;
  user-select: none;
  -webkit-user-select: none;
}

.max-setter-row {
  display: flex;
  user-select: none;
  -webkit-user-select: none;
}

.max-setter-block {
  user-select: none;
  -webkit-user-select: none;
  flex: 1 1 100px;
  display: block;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  color: var(--text-color);
  height: 45px;
  line-height: 45px;
  margin: 0;
}
